<h1>Política de Privacidad</h1>

<p>Fecha efectiva: 16 de noviembre de 2020</p>

<p>Red de Bicicletas opera el sitio web https://red-bicicletas-hrp.herokuapp.com/ </p>

<p>Esta páina le informa de nuestras políticas de recopilcaión, usu y divulgaciòn de datos personales cuando utiliza nuestro sitio web</p>

<p>Utilizamos sus datos para prestarle el servicio y mejorarlo. Usted acepta la recopilación y uso de la Información</p>

<h1>Definiciones</h1>


<h2>Uso de datos</h2>

<p>Red de Bicicletas utiliza los datos recopilados con diversas finalidades:</p>

<ul>
    <li>Suministar y mantener nuestro Servicio</li>
</ul>

<h2>Contacte con nosotros</h2>

